*{
    margin: 0%;
    padding: 0%;
    color: white;
    font-weight: bolder;

}
.head{
    margin-top: 3px;
    text-align: center;
    border-radius: 8px;
    border-bottom: 3px solid white;
}
.bio{
    border: 2px solid rgba(255, 208, 0, 0.582);
    border-radius: 8px;
    margin: 10px;
}
div.bio{
    margin: 10px;
    color: rgb(1 11 24);
    margin-top: 40px;
margin-left: auto;
margin-right: auto;
  height: 80vh;
    width: 800px;
    background-color: rgb(4 4 4);
    opacity: 0.5;
    /* text-align: center; */
    justify-content:space-around
}
.block{
    color: black;
    margin-top: 10px;
    text-align: center;
}
#bg{height: 100vh;;
    width: 100%;
    background-image:url(./formbg.jpg);
    background-size:contain;
color: white;
}